<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CDM</title>

    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon"> <!-- favicon 없을 때 에러 방지 코드 -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/upload.css" type="text/css"> -->

    <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
    <!-- <link rel="stylesheet" href="../static/webix.css" type="text/css"> -->

    <link rel="stylesheet" href="//cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css"
        type="text/css" charset="utf-8">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>

</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                rows: [
                    {
                        view: "toolbar",
                        css: { "background-color": "lightgray" },
                        elements: [
                            {
                                view: "button", value: "IRB", width: 100, css: "webix_transparent webix_button",
                                click: () => { location.href = "/irb" },
                            },
                            {
                                view: "button", value: "Researcher", width: 100, css: "webix_transparent webix_button",
                                click: () => { location.href = "/researcher-irb" }
                            },
                            {
                                view: "button", value: "Provider", width: 100, css: "webix_transparent webix_button",
                                click: () => { location.href = "/provider" }
                            },
                            {
                                view: "button", value: "Consumer", width: 100, css: "webix_transparent webix_button",
                                click: () => { location.href = "/consumer" }
                            }
                        ]
                    },
                    {
                        view: "scrollview",
                        scroll: "auto",
                        body: {
                            rows: [
                                {
                                    view: "toolbar", height: 50,
                                    elements: [
                                        {
                                            view: "button", value: "Researcher", width: 100,
                                            click: () => { location.href = "/researcher-irb"; }
                                        },
                                        {
                                            align: "right", body: {
                                                cols: [
                                                    {
                                                        view: "button", value: "IRB connection", width: 200,
                                                        click: () => { location.href="/researcher-irb"; }
                                                    },
                                                    {
                                                        view: "button", value: "Provider connection", width: 200,
                                                        click: () => { location.href="/researcher-provider"; }
                                                    },
                                                    {
                                                        view: "button", value: "Consumer connection", width: 200,
                                                        click: () => { location.href="/researcher-consumer"; }
                                                    }
                                                ]
                                            }
                                        },
                                    ]
                                },
                                {
                                    view: "spacer", height: 30
                                },
                                {% if Provider_inv %}
                                {
                                    align: "center", body: {
                                        rows: [
                                            {
                                                template: "<h2>Provider connection</h2>", width: 700, autoheight: true
                                            },
                                            {
                                                view: "form", id: "credential_form", width: 700,
                                                elements: [
                                                    {
                                                        view: "textarea", readonly: true,
                                                        label: "DID", labelPosition: "top",
                                                        value: sessionStorage.getItem("provider_did"),
                                                        placeholder: "DID here"
                                                    },
                                                    {
                                                        view: "spacer", height: 20
                                                    },
                                                    {
                                                        view: "radio", id: "radio", vertical: true,
                                                        label: "Cred_ex_ids", labelPosition: "top",
                                                        options: sessionStorage.getItem("cred_ex_ids").split(","),
                                                        click: () => {
                                                            var cred_ex_id = $$("radio").getValue();

                                                            webix.ajax().get(`http://0.0.0.0:8031/issue-credential-2.0/records/${cred_ex_id}`)
                                                                .then((res) => {
                                                                    var result = res.json();
                                                                    result = result["cred_ex_record"]["cred_offer"]["credential_preview"];
                                                                    result = result["attributes"];
                                                                    
                                                                    $$("credential").setValue(JSON.stringify(result, null, 4));
                                                                })
                                                                .fail(() => {
                                                                    alert("해당 credential record를 가져올 수 없습니다.");
                                                                })
                                                        }
                                                    },
                                                    {
                                                        view: "spacer", height: 20
                                                    },
                                                    {
                                                        view: "textarea", id: "credential", readonly: true,
                                                        label: "Credential", labelPosition: "top",
                                                        height: 400, scroll: "y",
                                                        placeholder: "credentail here",
                                                    },
                                                    {
                                                        view: "spacer", height: 20
                                                    },
                                                    {
                                                        view: "button", value: "Present Credential",
                                                        click: () => {
                                                            var credential = $$("credential").getValue();
                                                            credential = JSON.parse(credential);
                                                            credential = JSON.stringify(credential);
                                                            console.log(credential);
                                                            sessionStorage.setItem("Researcher_cred_to_provider", credential);
                                                            webix.ajax().post("/researcher-provider/send-credential", credential)
                                                                .then((res) => {
                                                                    alert("Provider에게 Credential을 제시했습니다.\nProvider 페이지의 Credential Acceptance 메뉴로 이동하세요.");
                                                                })
                                                                .fail((xhr) => {
                                                                    alert("Provider에게 Credential을 제시하는 데 실패했습니다.");
                                                                })
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                {% else %}
                                {
                                    align: "center", body: {
                                        rows: [
                                            {
                                                template: "<h2>Provider Invitation</h2>", width: 700, autoheight: true
                                            },
                                            {
                                                view: "form", id: "invitaion_form", width: 700,
                                                elements: [
                                                    {
                                                        view: "textarea", id: "invition", readonly: true,
                                                        autoheight: true, minHeight: 250,
                                                        placeholder: "Invition from Provider here",
                                                        value: sessionStorage.getItem("provider_invitation")
                                                    },
                                                    {
                                                        view: "button", value: "Accept Invitation",
                                                        click: () => {
                                                            var invitation = JSON.stringify(sessionStorage.getItem("provider_invitation"));
                                                            webix.ajax().post("http://0.0.0.0:8031/connections/receive-invitation", invitation)
                                                                .then((res) => {
                                                                    res = res.json();
                                                                    sessionStorage.setItem("provider_did", res.my_did);

                                                                    webix.ajax().get("http://0.0.0.0:8031/issue-credential-2.0/records")
                                                                        .then((res) => {
                                                                            const records = res.json()["results"]
                                                                            var cred_ex_ids_arr = new Array();
                                                                            records.forEach((item) => {
                                                                                cred_ex_ids_arr.push(item["cred_ex_record"]["cred_ex_id"]);
                                                                            });
                                                                            sessionStorage.setItem("cred_ex_ids", cred_ex_ids_arr);

                                                                            webix.ajax().post("/researcher-provider/accept-invitation", invitation)
                                                                                .then((res) => {
                                                                                    location.reload();
                                                                                })
                                                                                .fail((xhr) => {
                                                                                    alert("Provider의 초대장을 로컬 스토리지 세션에 등록하지 못하였습니다.");
                                                                                });
                                                                        })
                                                                        .fail((xhr) => {
                                                                            alert("wallet에서 credential records를 가져오는 데 실패했습니다.");
                                                                        });
                                                                })
                                                                .fail((xhr) => {
                                                                    alert("Researcher 서버 상태를 확인해주세요.");
                                                                });
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                {% endif %}
                                {
                                    view: "spacer", height: 30
                                }
                            ]
                        }
                    },
                ]
            });
        });
    </script>
</body>

</html>